html {
    position: relative;
    min-height: 100%;
}

header{
    position: relative;
    background-color: rgba(255, 70, 70, 0.589);
    width: 1171px;
    right: 25%;
    left: 25%;
    
}

.store-info{
    font-style: normal;
}